%body>         
<!-- Aside - Sidebar -->
	%aside class="sidebar about">        
		<div class="nav_responsive">
			<img src="img/nav_responsive.png" alt="Image">
				<div class="logo">
					<a href="index.html"><img src="img/logo.png" alt=""></a>
					<h1>Sideblog</h1>
				<nav>
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="blog.html">BLOG</a></li>
						<li><a href="work.html">WORK</a></li>
						<li><a href="about.html">ABOUT</a></li>
						<li><a href="contact.html">CONTACT</a></li>
        <h4><span>FLICKR</span></h4>
        <ul class="flickr">            
            <li>
                <img src="img/flickr/1.jpg" alt="">
                <a href="img/flickr/1.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
            <li>
                <img src="img/flickr/2.jpg" alt="">
                <a href="img/flickr/2.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
            <li>
                <img src="img/flickr/3.jpg" alt="">
                <a href="img/flickr/3.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
        </ul>

        <h4><span>SOCIAL</span></h4>
        <ul class="social">            
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
        </ul>

        <div class="coopring">
            <p>&copy; 2013
            <br>Me Co</p>

            <p>Desing by
            <br>Freshcreations</p>
        </div>
    </aside>
    <!-- End Aside - Sidebar -->

    <!-- Content Info -->
    <div class="wraper">

        <!-- Header -->
        <header>
            <div class="row-fluid">
                <div class="span3">
                    <h6>HOMEPAGE</h6>
                </div>
                <div class="span9 twitt">
                    <p>Latest tweet — Photoshop Sneak Peak: See What's to Come: http://youtu.be/stUD-DRhTZg  via <a href="#">@youtube</a></p>
                </div>
            </div>        
        </header>
        <!-- End Header -->
        
        <section class="content">
            <div class="row-fluid">

                <!-- Titles Large-->
                <div class="titles_large">
                    <h1>
                        About us 
                        <br>
                        <span>Get to Know the crew</span>
                    </h1>
                </div>
                <!-- End Titles Large-->
                
              
                <!-- team-->
                <div class="row-fluid team">
                    <!-- item_team-->
                    <div class="span3">
                        <div class="item_team">
                            <img src="img/team/1.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- End item_team-->

                    <!-- item_team-->
                    <div class="span3">
                        <div class="item_team">
                            <img src="img/team/2.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- End item_team-->

                    <!-- item_team-->
                    <div class="span3">
                        <div class="item_team">
                            <img src="img/team/3.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- End item_team-->

                    <!-- item_team-->
                    <div class="span3">
                        <div class="item_team">
                            <img src="img/team/4.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- End item_team-->
                </div>
                <!-- End team-->

                  <!-- Titles-->
                <div class="titles">
                    <h1>Meet Jenna Sulvian
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <p>Mauris sed varius ipsum. Fusce sed nisi elit, non tristique metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut scelerisque sapien et metus porta et ultrices mi suscipit. Morbi aliquam dapibus hendrerit. Mauris suscipit ullamcorper felis. Sed aliquam massa vel risus dapibus quis tincidunt purus lobortis. Cras ultrices, tellus ut sollicitudin feugiat, enim turpis pellentesque arcu, vel elementum felis elit in risus. </p>       

                <!-- Divisor-->
                <div class="divisor"></div>
                <!-- End Divisor-->

                <!-- Titles-->
                <div class="titles">
                    <h1>Skills
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <div class="meter colora">
                    <span style="width: 100%"><span>Web Design</span><span class="text_right">100%</span></span>
                </div>
                <div class="meter colorb">
                   <span style="width: 80%"><span>Photography</span><span class="text_right">80%</span></span>
                </div>
                <div class="meter colorc">
                   <span style="width: 95%"><span>Graphic Design</span><span class="text_right">95%</span></span>
                </div>
                <div class="meter colore">
                   <span style="width: 75%"><span>Programmer</span><span class="text_right">75%</span></span>
                </div>

                <!-- Divisor-->
                <div class="divisor"></div>
                <!-- End Divisor-->

                <!-- Titles-->
                <div class="titles">
                    <h1>My Work
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <!-- Works-->
                <ul class="work">
                    <li class="span4">
                        <img src="img/works/1.jpg" alt="">
                        <a href="img/works/1.jpg" class="fancybox"><span class="overlay"></span></a>
                    </li>
                    <li class="span4">
                        <img src="img/works/2.jpg" alt="">
                        <a href="img/works/2.jpg" class="fancybox"><span class="overlay"></span></a>
                    </li>
                    <li class="span4">
                        <img src="img/works/4.jpg" alt="">
                        <a href="img/works/4.jpg" class="fancybox"><span class="overlay"></span></a>
                    </li>                  
                </ul>
                <!-- End Works-->


            </div>
        </section>
        <!-- End Content Info -->
    </div>

      <!-- ======================= JQuery libs =========================== -->
        <!-- Always latest version of jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>  
        <!-- Version jQuery local-->       
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>        
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>  
        <!--Filter-->
        <script type="text/javascript" src="js/filters/filters.js" ></script>
        <!--Ligbox--> 
        <script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.js"></script>         
        <!-- Bootstrap.js-->
        <script src="js/bootstrap.js"></script>
        <!--fUNCTIONS-->
        <script type="text/javascript" src="js/jquery-func.js"></script>
     <!-- ======================= End JQuery libs =========================== -->

  </body>
</html>