<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sideblog  - Responsive And Creative Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Your styles -->
    <link href="css/style.css" rel="stylesheet" media="screen">  

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles for IE -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie/ie.css" type="text/css" media="screen" />
    <![endif]-->
   
  </head>
  <body> 
   <!-- Aside - Sidebar -->
    <aside class="sidebar blog">        
        <div class="nav_responsive">
            <img src="img/nav_responsive.png" alt="Image">
        </div>
        <div class="logo">
            <a href="index.html"><img src="img/logo.png" alt=""></a>
            <h1>Sideblog</h1>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="work.html">WORK</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>

        <h4><span>FLICKR</span></h4>

        <ul class="flickr">            
            <li>
                <img src="img/flickr/1.jpg" alt="">
                <a href="img/flickr/1.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
            <li>
                <img src="img/flickr/2.jpg" alt="">
                <a href="img/flickr/2.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
            <li>
                <img src="img/flickr/3.jpg" alt="">
                <a href="img/flickr/3.jpg" class="fancybox"><span class="overlay"></span></a>
            </li>
        </ul>

        <h4><span>SOCIAL</span></h4>
        <ul class="social">            
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
        </ul>

        <div class="coopring">
            <p>&copy; 2013
            <br>Me Co</p>

            <p>Desing by
            <br>Freshcreations</p>
        </div>
    </aside>
    <!-- End Aside - Sidebar -->

    <!-- Content Info -->
    <div class="wraper">

        <!-- Header -->
        <header>
            <div class="row-fluid">
                <div class="span3">
                    <h6>HOMEPAGE</h6>
                </div>
                <div class="span9 twitt">
                    <p>Latest tweet — Photoshop Sneak Peak: See What's to Come: http://youtu.be/stUD-DRhTZg  via <a href="#">@youtube</a></p>
                </div>
            </div>        
        </header>
        <!-- End Header -->
        
        <section class="content">
            <div class="row-fluid">

                <!-- Titles Large-->
                <div class="titles_large">
                    <h1>
                        Random blog stuff that 
                        <br>
                        <span>i love to share.</span>
                    </h1>
                </div>
                <!-- End Titles Large-->
                
                
                <!-- Titles-->
                <div class="titles">
                    <h1>From the Blog
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html">Illustrations for a collaborative infographic with Evan Macdonald</a></h1>
                    <img src="img/blog/5.jpg" alt="">
                    <p>Blackbaud had put out a PDF document called Understanding the Value of Your Social Media Influens
                    How to Identify and Empower Those Who Can Engage an Entire Community. These are illustrations I created for an online infographic that accompanied their publication.</p>
                </article>
                <!-- End Post-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html">One More Beer! - A Pedro Conti Short Movie</a></h1>
                    <div class="video">
                        <iframe src="http://player.vimeo.com/video/7449107"></iframe>
                    </div>
                    <p>Blackbaud had put out a PDF document called Understanding the Value of Your Social Media Influens
                    How to Identify and Empower Those Who Can Engage an Entire Community. These are illustrations I created for an online infographic that accompanied their publication.</p>
                </article>
                <!-- End Post-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html"><span>Quote:</span> “Behind every great man is a woman rolling her eyes.”</a></h1>
                </article>
                <!-- End Post-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html">One More Beer! - A Pedro Conti Short Movie</a></h1>
                    <div id="myCarousel" class="carousel slide">
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="active item"><img src="img/blog/3.jpg" alt=""></div>
                        <div class="item"><img src="img/blog/2.jpg" alt=""></div>
                        <div class="item"><img src="img/blog/1.jpg" alt=""></div>
                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <p>Blackbaud had put out a PDF document called Understanding the Value of Your Social Media Influens
                    How to Identify and Empower Those Who Can Engage an Entire Community. These are illustrations I created for an online infographic that accompanied their publication.</p>
                </article>
                <!-- End Post-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html">Blackbaud had put out a PDF document called Understanding </a></h1>
                    <img src="img/blog/4.jpg" alt="">
                    <p>Blackbaud had put out a PDF document called Understanding the Value of Your Social Media Influens
                    How to Identify and Empower Those Who Can Engage an Entire Community. These are illustrations I created for an online infographic that accompanied their publication.</p>
                </article>
                <!-- End Post-->

                <!-- Post-->
                <article class="post center">
                    <h1><a href="single.html">FreshCreations.nl Webdesign  <br>
                        <span>www.freshcreations.nl</span></a></h1>
                </article>
                <!-- End Post-->

                <div class="navigation_blog">
                    <div class="span2 prev">
                        <p><a href="#">Previous</a></p>
                    </div>
                    <div class="span8">
                        <ul>
                            <li>—</li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>—</li>
                        </ul>
                    </div>
                    <div class="span2 next">
                        <p><a href="#">Next</a></p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Content Info -->
    </div>

      <!-- ======================= JQuery libs =========================== -->
        <!-- Always latest version of jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>  
        <!-- Version jQuery local-->       
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>        
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>  
        <!--Filter-->
        <script type="text/javascript" src="js/filters/filters.js" ></script>
        <!--Ligbox--> 
        <script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.js"></script>         
        <!-- Bootstrap.js-->
        <script src="js/bootstrap.js"></script>
        <!--fUNCTIONS-->
        <script type="text/javascript" src="js/jquery-func.js"></script>
     <!-- ======================= End JQuery libs =========================== -->

  </body>
</html>