

        <!-- Header -->
        <header>
            <div class="row-fluid">
                <div class="span3">
                    <h6>HOMEPAGE</h6>
                </div>
                <div class="span9 twitt">
                    <p>Latest tweet — Photoshop Sneak Peak: See What's to Come: http://youtu.be/stUD-DRhTZg  via <a href="#">@youtube</a></p>
                </div>
            </div>        
        </header>
        <!-- End Header -->
        
        <section class="content">
            <div class="row-fluid">

                <!-- Titles Large-->
                <div class="titles_large">
                    <h1>
                        Random blog stuff that 
                        <br>
                        <span>i love to share.</span>
                    </h1>
                </div>
                <!-- End Titles Large-->
                
                
                <!-- Titles-->
                <div class="titles">
                    <h1>From the Blog
                        <span class="line"></span>
                    </h1>
                    <div class="navigation_case">                        
                        <span class="prev">
                            <a href="#">Previous blog</a>
                        </span>
                         — 
                         <span class="next">
                            <a href="#">Next blog</a>
                        </span>                        
                    </div>
                </div>
                <!-- End Titles-->

                <!-- Post-->
                <article class="post">
                    <h1><a href="single.html">Illustrations for a collaborative infographic with Evan Macdonald</a></h1>
                    <img src="img/blog/5.jpg" alt="">
                    <p>Mauris sed varius ipsum. Fusce sed nisi elit, non tristique metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut scelerisque sapien et metus porta et ultrices mi suscipit. Morbi aliquam dapibus hendrerit. Mauris suscipit ullamcorper felis. Sed aliquam massa vel risus dapibus quis tincidunt purus lobortis. Cras ultrices, tellus ut sollicitudin feugiat, enim turpis pellentesque arcu, vel elementum felis elit in risus.</p>
                    <p>Ut nec fermentum massa. Praesent bibendum volutpat placerat. Fusce quis urna odio. Sed leo purus, ornare sed dapibus et, vehicula quis arcu. Vivamus porttitor tempor consectetur. Praesent ac lacus nec turpis gravida aliquet. Curabitur eget urna eget elit interdum laoreet. Etiam nec quam sit amet dolor rutrum tempus in mollis orci. Nam imperdiet augue in orci suscipit sit amet dictum libero tristique. </p>
                </article>
                <!-- End Post-->

                <!-- Titles-->
                <div class="titles">
                    <h1><a href="#">3</a> Comments
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <!-- commments -->
                <ul class="media-list comments">
                   <!-- commment -->
                  <li class="media">
                    <a class="pull-left" href="#">
                      <img src="img/comment/1.jpg" alt="Image">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">Jason - <a href="#">reply</a></h5>
                      <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>                 
                     
                          <!-- Sub commment -->
                          <div class="media">
                                <a class="pull-left" href="#">
                              <img src="img/comment/2.jpg" alt="Image">
                            </a>
                            <div class="media-body">
                              <h5 class="media-heading">Max - <a href="#">reply</a></h5>
                              <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                             </div>
                        </div>
                        <!-- End Sub commment -->
                    </div>
                  </li>
                  <!-- End commment -->

                  <!-- commment -->
                  <li class="media">
                    <a class="pull-left" href="#">
                      <img src="img/comment/3.jpg" alt="Image">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">Lebron - <a href="#">reply</a></h5>
                      <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                  </li>
                  <!-- End commment -->
                </ul>
                <!-- End commments -->

                <div class="divisor"></div>

                <!-- Titles-->
                <div class="titles">
                    <h1>Post a comment
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->

                <form id="form" action="send_mail.php">
                    <div class="row-fluid">
                        <div class="span6">
                            <input type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="span6">
                            <input type="email" placeholder="Email Adress" required name="Email">
                        </div>                        
                        <textarea placeholder="Mesage.." required name="message"></textarea>
                        <input type="submit" value="SEND" class="submit_form">
                    </div>
               </form>
               <div id="result"></div>



            </div>
        </section>
        <!-- End Content Info -->
    </div>