        <section class="content">
            <div class="row-fluid">

                <!-- Titles Large-->
                <div class="titles_large">
                    <h1>
                        Check out our handcrafted
                        <br>
                        <span>kickass work</span>
                    </h1>
                </div>
                <!-- End Titles Large-->
                
              
                <!-- Filter Portfolio-->
                <div class="row-fluid filters">
                    <ul class="filter" id="portfolio-filter">
                        <li><a href="#all" >All </a><span>|</span></li>
                        <li><a href="#webdesing" >Webdesing</a> <span>|</span></li>
                        <li><a href="#ilustration" >Illustration</a> <span>|</span></li>
                        <li><a href="#photography" >Photography</a><span>|</span></li>
                        <li><a href="#identity" >Identity</a><span>|</span></li>
                        <li><a href="#logotype" >Logotype</a><span>|</span></li>
                        <li><a href="#print" >Print</a></li>
                    </ul>
                </div> 
                <!-- End Filter Portfolio--> 

                <!-- Titles-->
                <div class="titles">
                    <h1>Our Work
                        <span class="line"></span>
                    </h1>
                </div>
                <!-- End Titles-->                      

                <!-- Portfolio list-->
                <div id="portfolio-list"> 

                    <!-- item_portfolio-->
                      <div class="item_portfolio webdesing">                      
                          <div class="image_portfolio">
                              <img src="img/works/1.jpg" alt="Image 1 title">
                              <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>Your Brand In Their Hand lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio webdesing">                      
                          <div class="image_portfolio">
                              <img src="img/works/2.jpg" alt="Image"> 
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>A Smart Lightningbold lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio ilustration">                      
                          <div class="image_portfolio">
                              <img src="img/works/3.jpg" alt="Image 3 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>Boots are Better lllustration, Identity</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio photography">                      
                          <div class="image_portfolio">
                              <img src="img/works/4.jpg" alt="Image 4 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>Your Brand In Their Hand lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio photography">                      
                          <div class="image_portfolio">
                              <img src="img/works/5.jpg" alt="Image 5 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>A Smart Lightningbold lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio photography">                      
                          <div class="image_portfolio">
                              <img src="img/works/6.jpg" alt="Image 6 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>Boots are Better lllustration, Identity</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->


                      <!-- item_portfolio-->
                      <div class="item_portfolio identity">                      
                          <div class="image_portfolio">
                              <img src="img/works/7.jpg" alt="Image 1 title">
                              <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>Your Brand In Their Hand lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio identity">                      
                          <div class="image_portfolio">
                              <img src="img/works/8.jpg" alt="Image 2 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>A Smart Lightningbold lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio logotype">                      
                          <div class="image_portfolio">
                              <img src="img/works/9.jpg" alt="Image 3 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">                              
                              <p>Boots are Better lllustration, Identity</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio print">                      
                          <div class="image_portfolio">
                              <img src="img/works/10.jpg" alt="Image 4 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>Your Brand In Their Hand lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio print">                      
                          <div class="image_portfolio">
                              <img src="img/works/11.jpg" alt="Image 5 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>A Smart Lightningbold lllustration, Logotype</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                      <!-- item_portfolio-->
                      <div class="item_portfolio print">                      
                          <div class="image_portfolio">
                              <img src="img/works/12.jpg" alt="Image 6 title">
                               <a href="case.html"><div class="overlay"></div></a>
                          </div>                        
                          <div class="info_portfolio">
                              <p>Boots are Better lllustration, Identity</p>
                          </div>                     
                      </div>
                      <!--End item_portfolio-->

                </div>
                <!-- End Portfolio list-->

               <div class="clearfix divisor port"></div>

                <div class="navigation_blog">
                    <div class="span2 prev">
                        <p><a href="#">Previous</a></p>
                    </div>
                    <div class="span8">
                        <ul>
                            <li>-</li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>-</li>
                        </ul>
                    </div>
                    <div class="span2 next">
                        <p><a href="#">Next</a></p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Content Info -->
    </div>